Repository sumosizedginger/sumosized-gif-maker: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(security): patch XSS vulnerability in video info display (CWE-79)
  CHANGELOG.md
  js/main.js
Due: prettier --write, eslint --fix

Phase 49: Expanded Sumo mascot arm swing radius
  icons/Sumo Sized Ginger.svg
  index.html
Due: prettier --write

Phase 49: Completed CSS styling for premium footer integration
  css/style.css
Due: prettier --write

Phase 49: Integrated Sumo mascot into application header for professional branding
  index.html
Due: prettier --write

Phase 49: Final branding refinements for application header logo integration
  css/style.css
Due: prettier --write

Phase 50: Restored social icons and upscaled mascot logo for elite branding
  css/style.css
  index.html
Due: prettier --write

docs: merge branding and anatomy updates into v1.0.1 changelog
  CHANGELOG.md
Due: none

Phase 50: Upscaled Mascot Logo to 120px height for elite branding impact
  css/style.css
Due: prettier --write

Phase 50: Tight-cropped SVG and standardized logo scaling for elite header impact
  css/style.css
  icons/Sumo Sized Ginger.svg
Due: prettier --write

Phase 50: Finalized branding with Mascot Zoom technique and restored asset integrity
  CHANGELOG.md
  css/style.css
  icons/Sumo Sized Ginger.svg
  index.html
Due: prettier --write

Phase 54: FFmpeg Path Rescue - Explicilty bound corePath, wasmPath, and workerPath for createFFmpeg to safely bypass fallback.
  js/main.js
  js/vendor/ffmpeg-core.worker.js
Due: prettier --write, eslint --fix

DOCS: Harden README. Zero filler. Absolute clarity.
  README.md
Due: none

FIX: Satisfy Prettier formatting in README.md
  README.md
Due: none

FIX: Complete repository formatting to satisfy CI requirements.
  js/main.js
Due: prettier --write, eslint --fix

feat: integrate telemetry tracking for FFmpeg renders
  .gitignore
  js/main.js
Due: prettier --write, eslint --fix

fix: resolve lint and formatting errors in telemetry integration
  js/main.js
Due: prettier --write, eslint --fix

refactor(telemetry): update sendTelemetry to accept payload object directly
  js/main.js
Due: prettier --write, eslint --fix

Elite Release: Architecture hardening, Slideshow normalization, Geometry safety, and Advanced Quality Controls. Purged dead code and debug logs. 🫡
  .claude/settings.json
  .gitignore
  CHANGELOG.md
  README.md
  Update.md
  coi-serviceworker.js
  css/style.css
  eslint.config.js
  index.html
  js/app.js
  js/main.js
  js/modules/config.js
  js/modules/conversion.js
  js/modules/cropper.js
  js/modules/events.js
  js/modules/ffmpeg-client.js
  js/modules/filter-stack.js
  js/modules/filters.js
  js/modules/frames.js
  js/modules/predictor.js
  js/modules/project.js
  js/modules/state.js
  js/modules/telemetry.js
  js/modules/timeline.js
  js/modules/ui.js
  js/modules/upload.js
  js/modules/utils.js
  js/register-coi.js
  js/worker/ffmpeg-worker.js
  package-lock.json
  package.json
  tests/filter-stack.test.js
  tests/filters.test.js
  tests/format-time.test.js
  tests/safeUnlinkAll.test.js
  tests/state.test.js
  tests/telemetry.test.js
  tests/url-validation.test.js
  vitest.config.js
Due: prettier --write, eslint --fix

fix: prettier formatting in app.js
  js/app.js
Due: prettier --write, eslint --fix

Elite Release v1.0.1: Final Stability & Discovery Optimization
  ATTRIBUTION.md
  BLOG.md
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  Update.md
  assets/examples/sumosized-1772646131123.gif
  index.html
  js/modules/conversion.js
  js/modules/filter-stack.js
  js/modules/filters.js
  js/modules/frames.js
  js/modules/state.js
  js/modules/telemetry.js
  js/modules/timeline.js
  js/modules/upload.js
  manifest.json
Due: prettier --write, eslint --fix

refactor: 96→100 Architectural Elite Build
  js/modules/conversion.js
  js/modules/filters.js
  tests/__mocks__/ffmpeg-client.js
  tests/buildBaseFilters.test.js
Due: prettier --write, eslint --fix

chore: enable vitest coverage reporting and add ARCHITECTURE.md
  ARCHITECTURE.md
  README.md
  package-lock.json
  package.json
  vitest.config.js
Due: prettier --write, eslint --fix

style: fix prettier formatting issues in ARCHITECTURE.md and package.json
  ARCHITECTURE.md
  package.json
Due: none

Path conditions:
  prettier --write: (any of: **/*.js) or (any of: **/*.{html,css})
  eslint --fix: any of: **/*.js
